{% extends 'index_principal_docentes.html' %}

{% load static %}

{% block extraheader %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock extraheader %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fas fa-chalkboard-teacher"></i> Listado de Docentes</h3>
        </div>
      </div>
      <div class="table-responsive">
        <table id="Jtabla" class="table table-bordered table-hover table-condensed">
          <thead class="thead-light">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Grado a cargo</th>
              <th>DUI DEL DOCENTE</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% if object_list %}
            {% for docente in object_list %}
            <tr>
              <td>{{ docente.nombre }}</td>
              <td>{{ docente.apellido }}</td>
              <td>{% if docente.seccion_cargo %}{{ docente.seccion_cargo }}{% else %}-{% endif %}</td>
              <td>{{ docente.dui_docente }}</td>
              <td>
                <a href="{% url 'app_docentes:editar' docente.id %}" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a>
                <a href="{% url 'app_docentes:borrar' docente.id %}" class="btn btn-danger btn-destroy"><i class="fas fa-trash"></i> Borrar</a>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="5"><h3 class="text-center">No hay ningún Docente Registrado</h3></td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/filtro_Jtabla_Id.js' %}"></script>
{% endblock %}
