{% extends 'index_principal_secciones.html' %}
{% load static %}

{% block extraheader %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock extraheader %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4 class="card-title">Listado de Secciones</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed" id="Jtabla" cellspacing="0" width="100%">
              <thead>
                <tr class="success">
                  <th>Sección</th>
                  <th>Turno</th>
                  <th>Cupos asignados</th>
                </tr>
              </thead>
              <tbody>
                {% if object_list %}
                {% for seccion in object_list %}
                <tr>
                  <td>{{ seccion.nombre_seccion }}</td>
                  <td>{{ seccion.turno }}</td>
                  <td>{{ seccion.cupor_por_seccion }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td colspan="3">
                    <h3 class="text-center"><strong>No hay ninguna sección registrada</strong></h3>
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/filtro_Jtabla_Id.js' %}"></script>
{% endblock %}
